swagger: '2.0'

info:
  version: 2.9.6
  title: sign
  description: "Serviço de assinatura eletrônica e digital"
  x-senior-domain: platform
  x-senior-domain-path: platform
  x-senior-service-path: sign
  contact:
    name: Senior X Platform
    url: https://dev.senior.com.br
    email: seniorx-dev@senior.com.br

host: platform.senior.com.br

basePath: /t/senior.com.br/bridge/1.0/rest/platform

securityDefinitions:
   APIKeyHeader:
     type: apiKey
     in: header
     name: Authorization

security:
  - APIKeyHeader: []

produces:
  - application/json
consumes:
  - application/json

paths:
  /sign/queries/listEnvelopes:
    post:
      description: "Lista os envelopes e rascunhos do usuário"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - status
            properties:
              offset:
                type: integer
                format: int64
                description: "Índice da página a ser retornada. Padrão 0."
                default: 0
              limit:
                type: integer
                format: int64
                description: "Quantidade de itens que serão exibidos por página. Padrão 10."
                default: 10
              envelopeName:
                type: string
                description: "Nome do envelope a ser utilizado no filtro"
              status:
                type: array
                items:
                  type: string
                  allOf:
                  - $ref: '#/definitions/envelopeStatus'
                  minimum: 1
                description: "Situação do envelope a ser utilizado no filtro"
              createdDate:
                type: string
                description: "Data de criação do envelope a ser utilizado no filtro"
              orderByField:
                type: string
                allOf:
                - $ref: '#/definitions/orderByFieldListEnvelopes'
                description: "Indica por qual campo os dados serão ordenados"
              order:
                type: string
                allOf:
                - $ref: '#/definitions/orderType'
                description: "Tipo da ordenação"
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - contents
              - totalElements
              - totalPages
            properties:
              contents:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/envelopeDTO'
                  minimum: 1
                description: "Lista de envelopes encontrados"
              totalElements:
                type: integer
                format: int64
                description: "Total de envelopes encontrados"
              totalPages:
                type: integer
                format: int64
                description: "Total de páginas disponíveis"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/queries/getSignatureEnvelopeConfiguration:
    post:
      description: ""
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - envelopeId
              - signerEmail
            properties:
              envelopeId:
                type: string
                description: "Id do envelope de assinatura"
              signerEmail:
                type: string
                description: "Email do assinante"
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - documents
              - askGeolocation
              - instructionsToSigner
              - createdBy
              - createdDate
              - signerType
              - signerSubType
              - name
              - status
              - expirationDate
            properties:
              documents:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/envelopeDocumentDTO'
                  minimum: 1
                description: "Documentos do envelope"
              askGeolocation:
                type: string
                allOf:
                - $ref: '#/definitions/askGeolocation'
                description: "Solicitar Geolocalização"
              instructionsToSigner:
                type: string
                description: "Um texto com instruções para o assinante"
              createdBy:
                type: string
                description: "Quem criou a solicitação de assinatura"
              createdDate:
                type: string
                format: date-time
                description: "Data de criação da solicitação de assinatura"
              digitalCertificate:
                type: string
                allOf:
                - $ref: '#/definitions/digitalCertificateOption'
                description: "Certificado Digital"
              mandatoryView:
                type: boolean
                description: "Visualização obrigatória"
                default: false
              notificateAuthor:
                type: boolean
                description: "Notificar autor"
                default: false
              signerType:
                type: string
                allOf:
                - $ref: '#/definitions/signerType'
                description: "Tipo do signatário"
              signerSubType:
                type: string
                allOf:
                - $ref: '#/definitions/signerSubType'
                description: "Subtipo do signatário"
              name:
                type: string
                description: "Nome do envelope"
              status:
                type: string
                description: "Status do envelope"
              expirationDate:
                type: string
                format: date-time
                description: "Data de expiração"
              authorEmail:
                type: string
                description: "Email do solicitante"
              competence:
                type: string
                allOf:
                - $ref: '#/definitions/envelopeCompetence'
                description: "Jurisdição do envelope"
              signerId:
                type: string
                description: "id so signatário"
              contactUserId:
                type: string
                description: "Id do contato do signatário"
              authenticationTypeChannel:
                type: string
                description: "Tipo de autenticação do signatário"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: ""
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: envelopeId
          description: "Id do envelope de assinatura"
          in: query
          required: true
          type: string
        - name: signerEmail
          description: "Email do assinante"
          in: query
          required: true
          type: string
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - documents
              - askGeolocation
              - instructionsToSigner
              - createdBy
              - createdDate
              - signerType
              - signerSubType
              - name
              - status
              - expirationDate
            properties:
              documents:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/envelopeDocumentDTO'
                  minimum: 1
                description: "Documentos do envelope"
              askGeolocation:
                type: string
                allOf:
                - $ref: '#/definitions/askGeolocation'
                description: "Solicitar Geolocalização"
              instructionsToSigner:
                type: string
                description: "Um texto com instruções para o assinante"
              createdBy:
                type: string
                description: "Quem criou a solicitação de assinatura"
              createdDate:
                type: string
                format: date-time
                description: "Data de criação da solicitação de assinatura"
              digitalCertificate:
                type: string
                allOf:
                - $ref: '#/definitions/digitalCertificateOption'
                description: "Certificado Digital"
              mandatoryView:
                type: boolean
                description: "Visualização obrigatória"
                default: false
              notificateAuthor:
                type: boolean
                description: "Notificar autor"
                default: false
              signerType:
                type: string
                allOf:
                - $ref: '#/definitions/signerType'
                description: "Tipo do signatário"
              signerSubType:
                type: string
                allOf:
                - $ref: '#/definitions/signerSubType'
                description: "Subtipo do signatário"
              name:
                type: string
                description: "Nome do envelope"
              status:
                type: string
                description: "Status do envelope"
              expirationDate:
                type: string
                format: date-time
                description: "Data de expiração"
              authorEmail:
                type: string
                description: "Email do solicitante"
              competence:
                type: string
                allOf:
                - $ref: '#/definitions/envelopeCompetence'
                description: "Jurisdição do envelope"
              signerId:
                type: string
                description: "id so signatário"
              contactUserId:
                type: string
                description: "Id do contato do signatário"
              authenticationTypeChannel:
                type: string
                description: "Tipo de autenticação do signatário"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/queries/countListEnvelopes:
    post:
      description: "Lista os envelopes e rascunhos do usuário"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            properties:
              envelopeName:
                type: string
                description: "Nome do envelope"
              createdDate:
                type: string
                description: "Data de criação"
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - pending
              - failedToLoad
              - failedToWritePdf
              - waitingDocuments
              - completed
              - canceled
              - draft
              - expired
              - total
            properties:
              pending:
                type: integer
                format: int64
                description: "Quantidade com status pendente"
              failedToLoad:
                type: integer
                format: int64
                description: "Quantidade com falha ao enviar documentos"
              failedToWritePdf:
                type: integer
                format: int64
                description: "Quantidade com falha ao finalizar o envelope e escrever PDF"
              waitingDocuments:
                type: integer
                format: int64
                description: "Quantidade esperando envio de documentos"
              completed:
                type: integer
                format: int64
                description: "Quantidade com status completo"
              canceled:
                type: integer
                format: int64
                description: "Quantidade com status cancelado"
              draft:
                type: integer
                format: int64
                description: "Quantidade com status em rascunho"
              expired:
                type: integer
                format: int64
                description: "Quantidade com status expirado"
              total:
                type: integer
                format: int64
                description: "Quantidade total"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Lista os envelopes e rascunhos do usuário"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: envelopeName
          description: "Nome do envelope"
          in: query
          type: string
        - name: createdDate
          description: "Data de criação"
          in: query
          type: string
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - pending
              - failedToLoad
              - failedToWritePdf
              - waitingDocuments
              - completed
              - canceled
              - draft
              - expired
              - total
            properties:
              pending:
                type: integer
                format: int64
                description: "Quantidade com status pendente"
              failedToLoad:
                type: integer
                format: int64
                description: "Quantidade com falha ao enviar documentos"
              failedToWritePdf:
                type: integer
                format: int64
                description: "Quantidade com falha ao finalizar o envelope e escrever PDF"
              waitingDocuments:
                type: integer
                format: int64
                description: "Quantidade esperando envio de documentos"
              completed:
                type: integer
                format: int64
                description: "Quantidade com status completo"
              canceled:
                type: integer
                format: int64
                description: "Quantidade com status cancelado"
              draft:
                type: integer
                format: int64
                description: "Quantidade com status em rascunho"
              expired:
                type: integer
                format: int64
                description: "Quantidade com status expirado"
              total:
                type: integer
                format: int64
                description: "Quantidade total"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/queries/getEnvelopeInfo:
    post:
      description: "Retorna as informações um envelope pelo Id"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - envelopeId
            properties:
              envelopeId:
                type: string
                description: "Id do envelope"
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - envelope
            properties:
              envelope:
                type: object
                allOf:
                 - $ref: '#/definitions/envelopeDTO'
                description: "Informações do envelope"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Retorna as informações um envelope pelo Id"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: envelopeId
          description: "Id do envelope"
          in: query
          required: true
          type: string
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - envelope
            properties:
              envelope:
                type: object
                allOf:
                 - $ref: '#/definitions/envelopeDTO'
                description: "Informações do envelope"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/queries/getEnvelope:
    post:
      description: "Buscar informações do envelope pelo Id"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - envelopeId
            properties:
              envelopeId:
                type: string
                description: "Id do envelope"
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - envelope
            properties:
              envelope:
                type: object
                allOf:
                 - $ref: '#/definitions/envelope'
                description: "Informações do envelope"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Buscar informações do envelope pelo Id"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: envelopeId
          description: "Id do envelope"
          in: query
          required: true
          type: string
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - envelope
            properties:
              envelope:
                type: object
                allOf:
                 - $ref: '#/definitions/envelope'
                description: "Informações do envelope"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/queries/checkEnvelopeAllSigned:
    post:
      description: "Verifica os ids dos envelopes passados, se todos signatários assinados"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - envelopeIds
            properties:
              envelopeIds:
                type: array
                items:
                  type: string
                  minimum: 1
                description: "Lista de identificadores de envelopes"
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - envelopes
            properties:
              envelopes:
                type: array
                items:
                  type: string
                  minimum: 1
                description: "Lista de envelopes"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/queries/healthcheck:
    post:
      description: "Endpoint para verificação da saúde do serviço"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - status
              - checks
            properties:
              status:
                type: string
                allOf:
                - $ref: '#/definitions/healthcheckStatus'
                description: "Status geral do healthcheck"
              checks:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/healthcheckItem'
                  minimum: 1
                description: "Itens verificados no healthcheck"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Endpoint para verificação da saúde do serviço"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - status
              - checks
            properties:
              status:
                type: string
                allOf:
                - $ref: '#/definitions/healthcheckStatus'
                description: "Status geral do healthcheck"
              checks:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/healthcheckItem'
                  minimum: 1
                description: "Itens verificados no healthcheck"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/queries/getEnvelopeTenant:
    post:
      description: "Consulta o tenant de um envelope"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - envelopeId
            properties:
              envelopeId:
                type: string
                description: "Id do processo de assinatura"
      responses:
        200:
          description: Ok
          schema:
            type: object
            properties:
              tenant:
                type: string
                description: "Tenant do Envelope"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Consulta o tenant de um envelope"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: envelopeId
          description: "Id do processo de assinatura"
          in: query
          required: true
          type: string
      responses:
        200:
          description: Ok
          schema:
            type: object
            properties:
              tenant:
                type: string
                description: "Tenant do Envelope"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/queries/listInternalEnvelopes:
    post:
      description: "Listagem de envelopes para controle interno"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - envelopeIds
            properties:
              envelopeIds:
                type: array
                items:
                  type: string
                  minimum: 1
                description: "Lista de identificadores de envelopes"
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - envelopes
            properties:
              envelopes:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/internalEnvelope'
                  minimum: 1
                description: "Lista de envelopes"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/queries/signerAuthenticationTypes:
    post:
      description: "Primitiva que retorna os tipos de autenticação disponíveis para o signatário"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - contactUserId
            properties:
              contactUserId:
                type: string
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - authenticationTypeChannelAvailable
            properties:
              authenticationTypeChannelAvailable:
                type: object
                allOf:
                 - $ref: '#/definitions/authenticationTypeChannel'
                description: "Tipos de autenticação disponíveis para o signatário"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Primitiva que retorna os tipos de autenticação disponíveis para o signatário"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: contactUserId
          description: ""
          in: query
          required: true
          type: string
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - authenticationTypeChannelAvailable
            properties:
              authenticationTypeChannelAvailable:
                type: object
                allOf:
                 - $ref: '#/definitions/authenticationTypeChannel'
                description: "Tipos de autenticação disponíveis para o signatário"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/queries/getMetadata:
    post:
      description: "Default 'getMetadata' query. Every service must handle this command and return metadata in the format requested."
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            properties:
              metadataFormat:
                type: string
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - metadata
            properties:
              metadata:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Default 'getMetadata' query. Every service must handle this command and return metadata in the format requested."
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: metadataFormat
          description: ""
          in: query
          type: string
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - metadata
            properties:
              metadata:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/queries/exportEnvelopeSigner:
    post:
      description: ""
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/exportConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - exportJobId
            properties:
              exportJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/queries/exportEnvelopeSignerCertificate:
    post:
      description: ""
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/exportConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - exportJobId
            properties:
              exportJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/queries/exportEnvelopeDocument:
    post:
      description: ""
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/exportConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - exportJobId
            properties:
              exportJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/queries/exportEnvelopePermission:
    post:
      description: ""
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/exportConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - exportJobId
            properties:
              exportJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/queries/exportEnvelope:
    post:
      description: ""
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/exportConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - exportJobId
            properties:
              exportJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/queries/exportLambdaLog:
    post:
      description: ""
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/exportConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - exportJobId
            properties:
              exportJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/queries/exportEnvelopeTenant:
    post:
      description: ""
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/exportConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - exportJobId
            properties:
              exportJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/queries/exportEnvelopeTemplatePermission:
    post:
      description: ""
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/exportConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - exportJobId
            properties:
              exportJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/queries/exportEnvelopeTemplate:
    post:
      description: ""
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/exportConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - exportJobId
            properties:
              exportJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/queries/exportEnvelopeTimeline:
    post:
      description: ""
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/exportConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - exportJobId
            properties:
              exportJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/queries/exportEnvelopeBatch:
    post:
      description: ""
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/exportConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - exportJobId
            properties:
              exportJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/queries/exportEnvelopeBatchDocument:
    post:
      description: ""
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/exportConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - exportJobId
            properties:
              exportJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/queries/exportNotificationLog:
    post:
      description: ""
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/exportConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - exportJobId
            properties:
              exportJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/queries/exportConectorEnvelope:
    post:
      description: ""
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/exportConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - exportJobId
            properties:
              exportJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/queries/exportConectorEnvelopeInput:
    post:
      description: ""
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/exportConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - exportJobId
            properties:
              exportJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/queries/exportNotificationTemplate:
    post:
      description: ""
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/exportConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - exportJobId
            properties:
              exportJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/queries/exportNotificationTemplateStep:
    post:
      description: ""
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/exportConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - exportJobId
            properties:
              exportJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/queries/getDependencies:
    post:
      description: "Returns a list with all dependencies from this service, along with their respective versions"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - dependencies
            properties:
              dependencies:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/dependency'
                  minimum: 1
                description: "List with this service dependencies"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Returns a list with all dependencies from this service, along with their respective versions"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - dependencies
            properties:
              dependencies:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/dependency'
                  minimum: 1
                description: "List with this service dependencies"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  /sign/actions/doSign:
    post:
      description: "Realiza a assinatura do signatário informado"
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - signature
            properties:
              signature:
                type: object
                allOf:
                 - $ref: '#/definitions/signature'
                description: "Dados para realizar a assinatura de um envelope"
      responses:
        200:
          description: Ok
          schema:
            type: object
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/actions/doSignCertificate:
    post:
      description: "Realiza a assinatura do signatário informado"
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - signature
              - certificate
            properties:
              signature:
                type: object
                allOf:
                 - $ref: '#/definitions/signature'
                description: "Dados para realizar a assinatura de um envelope"
              certificate:
                type: object
                allOf:
                 - $ref: '#/definitions/certificate'
                description: "Conteúdo e senha do Certificado"
      responses:
        200:
          description: Ok
          schema:
            type: object
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/actions/cancelEnvelope:
    post:
      description: "Realiza o cancelamento de um envelope em progresso"
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - envelopeId
            properties:
              envelopeId:
                type: string
                description: "Id do envelope"
      responses:
        200:
          description: Ok
          schema:
            type: object
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/actions/cancelEnvelope__2:
    post:
      description: "Realiza o cancelamento de um envelope em progresso"
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - envelopeId
            properties:
              envelopeId:
                type: string
                description: "Id do envelope"
              reason:
                type: string
                description: "Motivo do cancelamento"
      responses:
        200:
          description: Ok
          schema:
            type: object
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/actions/newEnvelope:
    post:
      description: "API DEPRECIADA: Usar newEnvelope na versão 2 | DATA: 2025-09-12 | Criação do envelope"
      tags:
        - Actions
      deprecated : true
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - signers
              - documentsVersionIds
              - requestedSignatures
            properties:
              signers:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/signer'
                  minimum: 1
                description: "Informações dos signatários"
              documentsVersionIds:
                type: array
                items:
                  type: string
                  minimum: 1
                description: "Documentos enviados para assinatura"
              requestedSignatures:
                type: integer
                format: int64
                description: "Quantidade de assinaturas requisitadas"
                minimum: 1
              competence:
                type: string
                allOf:
                - $ref: '#/definitions/envelopeCompetence'
                description: "Jurisdição do envelope"
              envelopeName:
                type: string
                description: "Nome do envelope"
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - envelopeId
            properties:
              envelopeId:
                type: string
                description: "Id do envelope"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/actions/newEnvelope__2:
    post:
      description: "Criação do envelope"
      tags:
        - Actions
      x-senior-visibility: PUBLIC
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - configuration
              - signers
            properties:
              id:
                type: string
                description: "Identificador do envelope"
              configuration:
                type: object
                allOf:
                 - $ref: '#/definitions/envelopeConfiguration'
                description: "Configurações do Envelope"
              signers:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/signer'
                  minimum: 1
                description: "Informações dos signatários"
              documentsVersions:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/documentVersion'
                description: "Documentos do GED enviados para assinatura"
              permissions:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/permission'
                description: "Permissões do envelope"
              conectors:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/conector'
                description: "Conectores"
              envelopeBatchId:
                type: string
                description: "Id do envelope em lote"
              notificationTemplateId:
                type: string
                description: "Template de Notificação"
              draft:
                type: boolean
                description: "Informar se o envelope é rascunho ou não"
                default: true
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - envelopeId
            properties:
              envelopeId:
                type: string
                description: "Id do envelope"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/actions/editEnvelope:
    post:
      description: "Edição do envelope"
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - envelopeId
              - signers
              - documentsVersionIds
              - requestedSignatures
            properties:
              envelopeId:
                type: string
                description: "Id do envelope"
              signers:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/signer'
                  minimum: 1
                description: "Novos signatários a serem adicionados"
              documentsVersionIds:
                type: array
                items:
                  type: string
                  minimum: 1
                description: "Documentos enviados para assinatura"
              requestedSignatures:
                type: integer
                format: int64
                description: "Quantidade de assinaturas requisitadas"
                minimum: 1
              competence:
                type: string
                allOf:
                - $ref: '#/definitions/envelopeCompetence'
                description: "Jurisdição do envelope"
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - envelopeId
            properties:
              envelopeId:
                type: string
                description: "Id do envelope"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/actions/editEnvelope__2:
    post:
      description: "Edição do envelope já enviado para assinatura"
      tags:
        - Actions
      x-senior-visibility: PUBLIC
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - id
            properties:
              id:
                type: string
                description: "Identificador do envelope"
              daysToExpire:
                type: integer
                format: int64
                description: "Prazo para expiração do envelope"
                minimum: 1
                maximum: 240
                default: 120
              signersToAdd:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/signer'
                description: "Signatários a serem adicionados"
              signersToRemove:
                type: array
                items:
                  type: string
                description: "Identificadores de Signatários a serem removidos"
              documentsToAdd:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/documentVersion'
                description: "Documentos a serem adicionados"
              documentsToRemove:
                type: array
                items:
                  type: string
                description: "Identificadores de DocumentVersion a serem removidos"
              permissionsToAdd:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/permission'
                description: "Permissões a serem adicionadas"
              permissionsToRemove:
                type: array
                items:
                  type: string
                description: "Identificadores de Permissões a serem removidas"
              conectors:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/conector'
                description: "Conectores do envelope"
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - envelopeId
            properties:
              envelopeId:
                type: string
                description: "Id do envelope"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/actions/duplicateEnvelope:
    post:
      description: "Duplicar envelope"
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - sourceEnvelopeId
            properties:
              sourceEnvelopeId:
                type: string
                description: "Identificador do envelope original a ser duplicado"
              includeDocuments:
                type: boolean
                description: "Define se os documentos vinculados ao envelope original também devem ser duplicados"
                default: false
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - duplicatedEnvelopeId
            properties:
              duplicatedEnvelopeId:
                type: string
                description: "Identificador do envelope criado a partir da duplicação"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/actions/editDaysToExpire:
    post:
      description: "Editar os dias de expiração de um envelope com status Expirado"
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - envelopeIds
              - daysToExpire
            properties:
              envelopeIds:
                type: array
                items:
                  type: string
                  minimum: 1
                description: "Id(s) dos envelope(s) que será(s) editado(s)"
              daysToExpire:
                type: integer
                format: int64
                description: "Nova quantidade de dias para expirar"
                minimum: 1
                maximum: 240
      responses:
        200:
          description: Ok
          schema:
            type: object
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        403:
          description: "Permissão negada, verifique as permissões do rascunho de envelope"
        404:
          description: "Nenhuma instância de entidade foi encontrada"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/actions/generateMfaToken:
    post:
      description: "Geração do Token MFA para assinatura ou recusa"
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - envelopeId
              - email
            properties:
              envelopeId:
                type: string
                description: "Id do envelope"
              email:
                type: string
                description: "Email do signatário"
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - token
            properties:
              token:
                type: string
                description: "Token gerado, usado para realizar assinatura"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/actions/sendEnvelopeDraftToSign:
    post:
      description: "Enviar envelope em rascunho para assinatura"
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - envelopeId
              - documentVersions
            properties:
              envelopeId:
                type: string
                description: "Id do envelope"
              documentVersions:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/documentVersion'
                  minimum: 1
                description: "Informações dos signatários"
      responses:
        200:
          description: Ok
          schema:
            type: object
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/actions/resendRequestSign:
    post:
      description: "Reenvia o email de solicitação de assinatura"
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - envelopeId
            properties:
              envelopeId:
                type: string
                description: "Identificador do envelope"
              signers:
                type: array
                items:
                  type: string
                description: "Lista com os emails dos assinantes, ou vazio para reenviar para todos que ainda não assinaram"
      responses:
        200:
          description: Ok
          schema:
            type: object
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/actions/doSignFacialRecognize:
    post:
      description: "Realiza a assinatura do signatário informado via reconhecimento facial"
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - facialSignature
            properties:
              facialSignature:
                type: object
                allOf:
                 - $ref: '#/definitions/signature'
                description: "Identificador do envelope"
      responses:
        200:
          description: Ok
          schema:
            type: object
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/actions/odata:
    post:
      description: ""
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      responses:
        204:
          description: No response
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/actions/importEnvelopeSigner:
    post:
      description: ""
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/importConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - importJobId
            properties:
              importJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/actions/importEnvelopeSignerCertificate:
    post:
      description: ""
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/importConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - importJobId
            properties:
              importJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/actions/importEnvelopeDocument:
    post:
      description: ""
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/importConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - importJobId
            properties:
              importJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/actions/importEnvelopePermission:
    post:
      description: ""
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/importConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - importJobId
            properties:
              importJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/actions/importEnvelope:
    post:
      description: ""
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/importConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - importJobId
            properties:
              importJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/actions/importLambdaLog:
    post:
      description: ""
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/importConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - importJobId
            properties:
              importJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/actions/importEnvelopeTenant:
    post:
      description: ""
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/importConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - importJobId
            properties:
              importJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/actions/importEnvelopeTemplatePermission:
    post:
      description: ""
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/importConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - importJobId
            properties:
              importJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/actions/importEnvelopeTemplate:
    post:
      description: ""
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/importConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - importJobId
            properties:
              importJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/actions/importEnvelopeTimeline:
    post:
      description: ""
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/importConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - importJobId
            properties:
              importJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/actions/importEnvelopeBatch:
    post:
      description: ""
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/importConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - importJobId
            properties:
              importJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/actions/importEnvelopeBatchDocument:
    post:
      description: ""
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/importConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - importJobId
            properties:
              importJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/actions/importNotificationLog:
    post:
      description: ""
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/importConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - importJobId
            properties:
              importJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/actions/importConectorEnvelope:
    post:
      description: ""
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/importConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - importJobId
            properties:
              importJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/actions/importConectorEnvelopeInput:
    post:
      description: ""
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/importConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - importJobId
            properties:
              importJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/actions/importNotificationTemplate:
    post:
      description: ""
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/importConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - importJobId
            properties:
              importJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/actions/importNotificationTemplateStep:
    post:
      description: ""
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/importConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - importJobId
            properties:
              importJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  /sign/signals/retryFinishEnvelope:
    post:
      description: "Signal para retry da finalização do Envelope"
      tags:
        - Signals
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - envelopeId
            properties:
              envelopeId:
                type: string
                description: "Id do Envelope"
      responses:
        202:
          description: Accepted
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/signals/retryFinishEnvelopeCallback:
    post:
      description: "Signal para retry do callback de finalização do Envelope no GED"
      tags:
        - Signals
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - envelopes
            properties:
              envelopes:
                type: array
                items:
                  type: string
                  minimum: 1
                description: "Lista com os Ids dos envelopes"
      responses:
        202:
          description: Accepted
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/signals/retryEnvelopeDocuments:
    post:
      description: "Reenvia os documentos de um envelope para assinatura"
      tags:
        - Signals
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - envelopeId
              - documentsVersionIds
            properties:
              envelopeId:
                type: string
                description: "Id do Envelope"
              documentsVersionIds:
                type: array
                items:
                  type: string
                  minimum: 1
                description: "Documentos enviados para assinatura"
      responses:
        202:
          description: Accepted
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/signals/updateExpiredEnvelopeStatus:
    post:
      description: "Signal que realiza a atualização do status dos envelopes em processo de assinatura que já passaram do prazo para o status EXPIRED."
      tags:
        - Signals
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
      responses:
        202:
          description: Accepted
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  /sign/events/envelopeFinished:
    post:
      description: "Evento disparado ao finalizar a assinatura de um documento"
      x-senior-event: true
      tags:
        - Events
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - envelopeId
            properties:
              envelopeId:
                type: string
                description: "Id do envelope de assinatura"
              documents:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/documentEnvelopeSigned'
                description: "Documentos que foram assinados"
      responses:
        200:
          description: OK
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/events/envelopeSigned:
    post:
      description: "Evento disparado quando um signatário assina ou recusa um envelope"
      x-senior-event: true
      tags:
        - Events
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - envelopeId
            properties:
              envelopeId:
                type: string
                description: "Id do envelope de assinatura"
              documentVersionIds:
                type: array
                items:
                  type: string
                description: "Lista de ids de versões de documentos"
              documentUploadIds:
                type: array
                items:
                  type: string
                description: "Lista de ids de upload de documentos"
              email:
                type: string
                description: "Email do signatário"
              status:
                type: string
                allOf:
                - $ref: '#/definitions/signerStatus'
                description: "Status da assinatura"
      responses:
        200:
          description: OK
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/events/envelopeCreated:
    post:
      description: "Evento disparado quando um envelope é criado"
      x-senior-event: true
      tags:
        - Events
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - envelope
            properties:
              envelope:
                type: object
                allOf:
                 - $ref: '#/definitions/envelope'
                description: "Envelope criado"
              message:
                type: string
                description: "Mensagem de retorno do evento"
              documentVersionIds:
                type: array
                items:
                  type: string
                description: "Lista de ids de versões de documentos"
      responses:
        200:
          description: OK
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/events/envelopeEdited:
    post:
      description: "Evento disparado quando um envelope é editado"
      x-senior-event: true
      tags:
        - Events
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - envelopeId
            properties:
              envelopeId:
                type: string
                description: "Identificador do envelope editado"
              signersEmailsToNotify:
                type: array
                items:
                  type: string
                description: "Lista de signatários editados a serem notificados"
              signersToAdd:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/signer'
                description: "Signatários a serem adicionados"
              signersToRemove:
                type: array
                items:
                  type: string
                description: "Identificadores de Signatários a serem removidos"
              documentsToAdd:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/documentVersion'
                description: "Documentos a serem adicionados"
              documentsToRemove:
                type: array
                items:
                  type: string
                description: "Identificadores de DocumentVersion a serem removidos"
              conectors:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/conector'
                description: "Conectores do envelope"
      responses:
        200:
          description: OK
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/events/envelopeCanceled:
    post:
      description: "Evento disparado quando um envelope é cancelado"
      x-senior-event: true
      tags:
        - Events
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - envelopeId
            properties:
              envelopeId:
                type: string
                description: "Identificador do envelope cancelado"
              cancellationReason:
                type: string
                description: "Motivo do cancelamento"
      responses:
        200:
          description: OK
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/events/expiredEnvelopes:
    post:
      description: "Quando um envelope tem seu status alterado para Expired"
      x-senior-event: true
      tags:
        - Events
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - envelopeIds
              - documentVersionIds
            properties:
              envelopeIds:
                type: array
                items:
                  type: string
                  minimum: 1
                description: "Lista de identificadores de envelopes"
              documentVersionIds:
                type: array
                items:
                  type: string
                  minimum: 1
                description: "Lista de identificadores de documentVersions dos envelopes expirados"
      responses:
        200:
          description: OK
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/events/daysToExpireEdited:
    post:
      description: "Evento disparado quando alterado data de expiração de um ou mais envelope(s)"
      x-senior-event: true
      tags:
        - Events
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - envelopeId
              - daysToExpire
            properties:
              envelopeId:
                type: array
                items:
                  type: string
                  minimum: 1
                description: "Id do envelope editado"
              daysToExpire:
                type: integer
                format: int64
                description: "Prazo para expiração do envelope"
      responses:
        200:
          description: OK
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/events/importEnvelopeSignerEvent:
    post:
      description: ""
      x-senior-event: true
      tags:
        - Events
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - eventpl
            properties:
              eventpl:
                type: object
                allOf:
                 - $ref: '#/definitions/importEventStatus'
                description: ""
      responses:
        200:
          description: OK
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/events/exportEnvelopeSignerEvent:
    post:
      description: ""
      x-senior-event: true
      tags:
        - Events
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - eventpl
            properties:
              eventpl:
                type: object
                allOf:
                 - $ref: '#/definitions/exportEventStatus'
                description: ""
      responses:
        200:
          description: OK
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/events/importEnvelopeSignerCertificateEvent:
    post:
      description: ""
      x-senior-event: true
      tags:
        - Events
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - eventpl
            properties:
              eventpl:
                type: object
                allOf:
                 - $ref: '#/definitions/importEventStatus'
                description: ""
      responses:
        200:
          description: OK
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/events/exportEnvelopeSignerCertificateEvent:
    post:
      description: ""
      x-senior-event: true
      tags:
        - Events
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - eventpl
            properties:
              eventpl:
                type: object
                allOf:
                 - $ref: '#/definitions/exportEventStatus'
                description: ""
      responses:
        200:
          description: OK
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/events/importEnvelopeDocumentEvent:
    post:
      description: ""
      x-senior-event: true
      tags:
        - Events
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - eventpl
            properties:
              eventpl:
                type: object
                allOf:
                 - $ref: '#/definitions/importEventStatus'
                description: ""
      responses:
        200:
          description: OK
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/events/exportEnvelopeDocumentEvent:
    post:
      description: ""
      x-senior-event: true
      tags:
        - Events
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - eventpl
            properties:
              eventpl:
                type: object
                allOf:
                 - $ref: '#/definitions/exportEventStatus'
                description: ""
      responses:
        200:
          description: OK
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/events/importEnvelopePermissionEvent:
    post:
      description: ""
      x-senior-event: true
      tags:
        - Events
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - eventpl
            properties:
              eventpl:
                type: object
                allOf:
                 - $ref: '#/definitions/importEventStatus'
                description: ""
      responses:
        200:
          description: OK
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/events/exportEnvelopePermissionEvent:
    post:
      description: ""
      x-senior-event: true
      tags:
        - Events
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - eventpl
            properties:
              eventpl:
                type: object
                allOf:
                 - $ref: '#/definitions/exportEventStatus'
                description: ""
      responses:
        200:
          description: OK
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/events/importEnvelopeEvent:
    post:
      description: ""
      x-senior-event: true
      tags:
        - Events
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - eventpl
            properties:
              eventpl:
                type: object
                allOf:
                 - $ref: '#/definitions/importEventStatus'
                description: ""
      responses:
        200:
          description: OK
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/events/exportEnvelopeEvent:
    post:
      description: ""
      x-senior-event: true
      tags:
        - Events
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - eventpl
            properties:
              eventpl:
                type: object
                allOf:
                 - $ref: '#/definitions/exportEventStatus'
                description: ""
      responses:
        200:
          description: OK
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /sign/events/importLambdaLogEvent:
    post:
      description: ""
      x-senior-event: true
      tags:
        - Events
      parameters:
        - name: input
          in: body
          required: true
[...]
