swagger: '2.0'

info:
  version: 7.14.2
  title: Gestão Eletrônica de Documentos
  description: "Gestão Eletrônica de Documentos"
  x-senior-domain: platform
  x-senior-domain-path: platform
  x-senior-service-path: ecm_ged
  contact:
    name: Senior X Platform
    url: https://dev.senior.com.br
    email: seniorx-dev@senior.com.br

host: platform.senior.com.br

basePath: /t/senior.com.br/bridge/1.0/rest/platform

securityDefinitions:
   APIKeyHeader:
     type: apiKey
     in: header
     name: Authorization

security:
  - APIKeyHeader: []

produces:
  - application/json
consumes:
  - application/json

paths:
  /ecm_ged/queries/getSignedDocuments:
    post:
      description: "Retorna informações necessárias para ver os documentos assinados no envelope"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - hashEnvelope
            properties:
              hashEnvelope:
                type: string
                description: "Hash de visualização gerado durante a notificação de finalização da assinatura"
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - envelopeId
              - documents
            properties:
              envelopeId:
                type: string
                description: "Id do envelope"
              documents:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/documentBasicInfoToView'
                  minimum: 1
                description: "Documentos assinados"
              status:
                type: string
                description: "Status do envelope"
              authorEmail:
                type: string
                description: "Email do solicitante"
              createdDate:
                type: string
                format: date-time
                description: "Data de criação do envelope"
              expirationDate:
                type: string
                format: date-time
                description: "Data de expiração do envelope"
              digitalCertificate:
                type: string
                allOf:
                - $ref: '#/definitions/digitalCertificateOption'
                description: "Certificado digital"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Retorna informações necessárias para ver os documentos assinados no envelope"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: hashEnvelope
          description: "Hash de visualização gerado durante a notificação de finalização da assinatura"
          in: query
          required: true
          type: string
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - envelopeId
              - documents
            properties:
              envelopeId:
                type: string
                description: "Id do envelope"
              documents:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/documentBasicInfoToView'
                  minimum: 1
                description: "Documentos assinados"
              status:
                type: string
                description: "Status do envelope"
              authorEmail:
                type: string
                description: "Email do solicitante"
              createdDate:
                type: string
                format: date-time
                description: "Data de criação do envelope"
              expirationDate:
                type: string
                format: date-time
                description: "Data de expiração do envelope"
              digitalCertificate:
                type: string
                allOf:
                - $ref: '#/definitions/digitalCertificateOption'
                description: "Certificado digital"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/getReportDocumentCountByRequester:
    post:
      description: "Relatório de quantidade de documentos por solicitante"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - filter
            properties:
              filter:
                type: object
                allOf:
                 - $ref: '#/definitions/filterReportByRequester'
                description: "Filtro para o relatório"
              size:
                type: integer
                format: int64
                description: "Quantidade de registro por página"
                default: 10
              offset:
                type: integer
                format: int64
                description: "Página"
                default: 0
              orderByField:
                type: string
                allOf:
                - $ref: '#/definitions/documentsCountOrderByField'
                description: "Indica por qual campo os dados serão ordenados"
              order:
                type: string
                allOf:
                - $ref: '#/definitions/orderType'
                description: "Tipo da ordenação"
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - totalPages
              - totalElements
              - contents
            properties:
              totalPages:
                type: integer
                format: int64
                description: "Total de páginas"
              totalElements:
                type: integer
                format: int64
                description: "Total de elementos"
              contents:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/reportDocumentCountByRequester'
                  minimum: 1
                description: "Relatório de quantidade de documentos"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/getSignatureEnvelopeConfiguration:
    post:
      description: "Retorna as configurações de um envelope de assinatura em andamento"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - envelopeId
            properties:
              envelopeId:
                type: string
                description: "Id do Envelope de assinatura"
              signer:
                type: string
                description: "Assinante"
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - documents
              - askGeolocation
              - instructionsToSigner
              - createdBy
              - createdDate
              - signerType
              - signerSubType
              - name
              - status
              - expirationDate
            properties:
              documents:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/envelopeDocumentItem'
                  minimum: 1
                description: "Documentos do envelope"
              askGeolocation:
                type: string
                allOf:
                - $ref: '#/definitions/ask_geolocation'
                description: "Solicitar Geolocalização"
              instructionsToSigner:
                type: string
                description: "Um texto com instruções para o assinante"
              createdBy:
                type: string
                description: "Quem criou a solicitação de assinatura"
              createdDate:
                type: string
                format: date-time
                description: "Data de criação da solicitação de assinatura"
              digitalCertificate:
                type: string
                allOf:
                - $ref: '#/definitions/digitalCertificateOption'
                description: "Certificado Digital"
              mandatoryView:
                type: boolean
                description: "Visualização obrigatória"
                default: false
              notificateAuthor:
                type: boolean
                description: "Notificar autor"
                default: false
              signerType:
                type: string
                allOf:
                - $ref: '#/definitions/signerType'
                description: "Tipo do signatário"
              signerSubType:
                type: string
                allOf:
                - $ref: '#/definitions/signerSubType'
                description: "Subtipo do signatário"
              name:
                type: string
                description: "Nome do envelope"
              status:
                type: string
                description: "Status do envelope"
              expirationDate:
                type: string
                format: date-time
                description: "Data de expiração"
              authorEmail:
                type: string
                description: "Email do solicitante"
              competence:
                type: string
                description: "Juridisdição do envelope"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        404:
          description: "Configurações do envelope de assinatura não encontrada"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Retorna as configurações de um envelope de assinatura em andamento"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: envelopeId
          description: "Id do Envelope de assinatura"
          in: query
          required: true
          type: string
        - name: signer
          description: "Assinante"
          in: query
          type: string
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - documents
              - askGeolocation
              - instructionsToSigner
              - createdBy
              - createdDate
              - signerType
              - signerSubType
              - name
              - status
              - expirationDate
            properties:
              documents:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/envelopeDocumentItem'
                  minimum: 1
                description: "Documentos do envelope"
              askGeolocation:
                type: string
                allOf:
                - $ref: '#/definitions/ask_geolocation'
                description: "Solicitar Geolocalização"
              instructionsToSigner:
                type: string
                description: "Um texto com instruções para o assinante"
              createdBy:
                type: string
                description: "Quem criou a solicitação de assinatura"
              createdDate:
                type: string
                format: date-time
                description: "Data de criação da solicitação de assinatura"
              digitalCertificate:
                type: string
                allOf:
                - $ref: '#/definitions/digitalCertificateOption'
                description: "Certificado Digital"
              mandatoryView:
                type: boolean
                description: "Visualização obrigatória"
                default: false
              notificateAuthor:
                type: boolean
                description: "Notificar autor"
                default: false
              signerType:
                type: string
                allOf:
                - $ref: '#/definitions/signerType'
                description: "Tipo do signatário"
              signerSubType:
                type: string
                allOf:
                - $ref: '#/definitions/signerSubType'
                description: "Subtipo do signatário"
              name:
                type: string
                description: "Nome do envelope"
              status:
                type: string
                description: "Status do envelope"
              expirationDate:
                type: string
                format: date-time
                description: "Data de expiração"
              authorEmail:
                type: string
                description: "Email do solicitante"
              competence:
                type: string
                description: "Juridisdição do envelope"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        404:
          description: "Configurações do envelope de assinatura não encontrada"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/getDocumentVersionSignStatus:
    post:
      description: "Busca dados de assinatura de um documento"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - documentVersionId
            properties:
              documentVersionId:
                type: string
                description: "Id da versao do documento"
      responses:
        200:
          description: Ok
          schema:
            type: object
            allOf:
             - $ref: '#/definitions/envelopeSignatureStatus'
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        404:
          description: "Dados da assinatura não encontrado"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Busca dados de assinatura de um documento"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: documentVersionId
          description: "Id da versao do documento"
          in: query
          required: true
          type: string
      responses:
        200:
          description: Ok
          schema:
            type: object
            allOf:
             - $ref: '#/definitions/envelopeSignatureStatus'
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        404:
          description: "Dados da assinatura não encontrado"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/getEnvelopeSignStatus:
    post:
      description: "Busca dados de assinatura de um envelope"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - envelopeId
            properties:
              envelopeId:
                type: string
                description: "Id do envelope de assinatura"
      responses:
        200:
          description: Ok
          schema:
            type: object
            allOf:
             - $ref: '#/definitions/envelopeSignatureStatus'
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        404:
          description: "Assinatura do envelope não encontrada"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Busca dados de assinatura de um envelope"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: envelopeId
          description: "Id do envelope de assinatura"
          in: query
          required: true
          type: string
      responses:
        200:
          description: Ok
          schema:
            type: object
            allOf:
             - $ref: '#/definitions/envelopeSignatureStatus'
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        404:
          description: "Assinatura do envelope não encontrada"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/getEnvelopeSignature:
    post:
      description: "Busca dados de um envelope enviado para assinatura"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - envelopeId
            properties:
              envelopeId:
                type: string
                description: "Id do envelope enviado para assinatura"
      responses:
        200:
          description: Ok
          schema:
            type: object
            allOf:
             - $ref: '#/definitions/envelopeSignatureDTO'
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        404:
          description: "Assinatura do envelope não encontrada"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Busca dados de um envelope enviado para assinatura"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: envelopeId
          description: "Id do envelope enviado para assinatura"
          in: query
          required: true
          type: string
      responses:
        200:
          description: Ok
          schema:
            type: object
            allOf:
             - $ref: '#/definitions/envelopeSignatureDTO'
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        404:
          description: "Assinatura do envelope não encontrada"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/getDocumentVersionSignatureConfiguration:
    post:
      description: "Retorna as configurações de assinatura de uma versão do documento"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - documentVersionId
            properties:
              documentVersionId:
                type: string
                description: "Id da versao do documento"
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - documentVersionIds
              - signers
              - instructionsToSigner
              - askGeolocation
            properties:
              documentVersionIds:
                type: array
                items:
                  type: string
                  minimum: 1
                description: "Lista com o id dos documentos"
              signers:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/signer'
                  minimum: 1
                description: "Lista com os assinantes"
              instructionsToSigner:
                type: string
                description: "Um texto com instruções para o assinante"
              askGeolocation:
                type: string
                allOf:
                - $ref: '#/definitions/ask_geolocation'
                description: "Solicitar Geolocalização"
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        404:
          description: "A versão de documento não foi encontrada"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Retorna as configurações de assinatura de uma versão do documento"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: documentVersionId
          description: "Id da versao do documento"
          in: query
          required: true
          type: string
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - documentVersionIds
              - signers
              - instructionsToSigner
              - askGeolocation
            properties:
              documentVersionIds:
                type: array
                items:
                  type: string
                  minimum: 1
                description: "Lista com o id dos documentos"
              signers:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/signer'
                  minimum: 1
                description: "Lista com os assinantes"
              instructionsToSigner:
                type: string
                description: "Um texto com instruções para o assinante"
              askGeolocation:
                type: string
                allOf:
                - $ref: '#/definitions/ask_geolocation'
                description: "Solicitar Geolocalização"
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        404:
          description: "A versão de documento não foi encontrada"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/getSignUrls:
    post:
      description: "Retorna URLs do recurso de assinatura de documentos"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - requestToken
              - sign
            properties:
              requestToken:
                type: string
                description: "URL para requisição do token de assinatura do usuário"
              sign:
                type: string
                description: "URL para efetivação de assinatura"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Retorna URLs do recurso de assinatura de documentos"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - requestToken
              - sign
            properties:
              requestToken:
                type: string
                description: "URL para requisição do token de assinatura do usuário"
              sign:
                type: string
                description: "URL para efetivação de assinatura"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/requestUpload:
    post:
      description: "Solicita o upload de um documento\n### Resources:\n- res://senior.com.br/platform/ecm_ged/file\n"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - fileName
            properties:
              fileName:
                type: string
                description: "Nome que irá corresponder ao arquivo."
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - fileUrl
              - uploadUrl
            properties:
              fileUrl:
                type: string
                description: "Url do arquivo do arquivo."
              uploadUrl:
                type: string
                description: "Url onde deverá ocorrer o download do arquivo."
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        403:
          description: "Permissão negada"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Solicita o upload de um documento\n### Resources:\n- res://senior.com.br/platform/ecm_ged/file\n"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: fileName
          description: "Nome que irá corresponder ao arquivo."
          in: query
          required: true
          type: string
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - fileUrl
              - uploadUrl
            properties:
              fileUrl:
                type: string
                description: "Url do arquivo do arquivo."
              uploadUrl:
                type: string
                description: "Url onde deverá ocorrer o download do arquivo."
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        403:
          description: "Permissão negada"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/newDocumentStatus:
    post:
      description: "Retorna andamento da criação de arquivo"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - ticket
            properties:
              ticket:
                type: string
                description: "Ticket para obter o status do documento"
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - finished
            properties:
              finished:
                type: boolean
                description: "Indica se o processo para novo documento foi finalizado"
              documentId:
                type: string
                description: "Identificador do Documento se estiver pronto"
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        404:
          description: "Status do documento não encontrado"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Retorna andamento da criação de arquivo"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: ticket
          description: "Ticket para obter o status do documento"
          in: query
          required: true
          type: string
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - finished
            properties:
              finished:
                type: boolean
                description: "Indica se o processo para novo documento foi finalizado"
              documentId:
                type: string
                description: "Identificador do Documento se estiver pronto"
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        404:
          description: "Status do documento não encontrado"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/getPendenciesCount:
    post:
      description: "API DEPRECIADA: Usar getPendenciesCount na versão 2 | DATA: 2023-04-01 | Lista a quantidade de documentos pendentes, seja de revisão ou de propriedades, por padrão considera o usuário logado"
      tags:
        - Queries
      deprecated : true
      x-senior-visibility: PUBLIC
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            properties:
              user:
                type: string
                description: "Usuário"
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - count
            properties:
              count:
                type: integer
                format: int64
                description: "Quantidade de documentos pendentes"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "API DEPRECIADA: Usar getPendenciesCount na versão 2 | DATA: 2023-04-01 | Lista a quantidade de documentos pendentes, seja de revisão ou de propriedades, por padrão considera o usuário logado"
      tags:
        - Queries
      deprecated : true
      x-senior-visibility: PUBLIC
      parameters:
        - name: user
          description: "Usuário"
          in: query
          type: string
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - count
            properties:
              count:
                type: integer
                format: int64
                description: "Quantidade de documentos pendentes"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/getPendenciesCount__2:
    post:
      description: "Lista a quantidade de documentos pendentes, seja de revisão ou de propriedades, por padrão considera o usuário logado"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            properties:
              user:
                type: string
                description: "Usuário"
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - count
            properties:
              count:
                type: integer
                format: int64
                description: "Quantidade de documentos pendentes"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Lista a quantidade de documentos pendentes, seja de revisão ou de propriedades, por padrão considera o usuário logado"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: user
          description: "Usuário"
          in: query
          type: string
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - count
            properties:
              count:
                type: integer
                format: int64
                description: "Quantidade de documentos pendentes"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/listPendencies:
    post:
      description: "API DEPRECIADA: Usar listPendencies na versão 2 | DATA: 2023-04-01 | Lista os documentos pendentes, seja de revisão ou de propriedades, por padrão considera o usuário logado"
      tags:
        - Queries
      deprecated : true
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            properties:
              user:
                type: string
                description: "Usuário"
      responses:
        200:
          description: Ok
          schema:
            type: object
            properties:
              pendencies:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/document'
                description: "Documentos pendentes"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "API DEPRECIADA: Usar listPendencies na versão 2 | DATA: 2023-04-01 | Lista os documentos pendentes, seja de revisão ou de propriedades, por padrão considera o usuário logado"
      tags:
        - Queries
      deprecated : true
      x-senior-visibility: PRIVATE
      parameters:
        - name: user
          description: "Usuário"
          in: query
          type: string
      responses:
        200:
          description: Ok
          schema:
            type: object
            properties:
              pendencies:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/document'
                description: "Documentos pendentes"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/listPendencies__2:
    post:
      description: "Lista os documentos pendentes, seja de revisão ou de propriedades, por padrão considera o usuário logado"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            properties:
              user:
                type: string
                description: "Usuario"
              offset:
                type: integer
                format: int64
                description: "O número da página retornado. A primeira página corresponde ao índice 0"
                default: 0
              size:
                type: integer
                format: int64
                description: "Quantidade de registros por página"
                default: 100
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - totalPages
              - totalElements
              - pendenciesList
            properties:
              totalPages:
                type: integer
                format: int64
                description: "Total de páginas disponíveis"
              totalElements:
                type: integer
                format: int64
                description: "Total de Documentos encontrados"
              pendenciesList:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/pendencies'
                  minimum: 1
                description: "Lista de documentos com pendencias"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Lista os documentos pendentes, seja de revisão ou de propriedades, por padrão considera o usuário logado"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: user
          description: "Usuario"
          in: query
          type: string
        - name: offset
          description: "O número da página retornado. A primeira página corresponde ao índice 0"
          in: query
          type: integer
          format: int64
        - name: size
          description: "Quantidade de registros por página"
          in: query
          type: integer
          format: int64
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - totalPages
              - totalElements
              - pendenciesList
            properties:
              totalPages:
                type: integer
                format: int64
                description: "Total de páginas disponíveis"
              totalElements:
                type: integer
                format: int64
                description: "Total de Documentos encontrados"
              pendenciesList:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/pendencies'
                  minimum: 1
                description: "Lista de documentos com pendencias"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/folderListPageable:
    post:
      description: "Lista os documentos e pastas de forma paginada"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - page
              - size
            properties:
              id:
                type: string
                description: "Id da pasta para listar (passar null se for a raiz)"
              onlyFolders:
                type: boolean
                description: "Informar true para listar somente pastas"
              page:
                type: integer
                format: int64
                description: "Índice da página a ser retornada. Padrão 0."
              size:
                type: integer
                format: int64
                description: "Quantidade de itens que serão exibidos por página."
              orderByField:
                type: string
                allOf:
                - $ref: '#/definitions/folderListPageableOrderByField'
                description: "Indica por qual campo os dados serão ordenados"
              order:
                type: string
                allOf:
                - $ref: '#/definitions/orderType'
                description: "Tipo da ordenação"
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - totalFolders
              - totalDocuments
            properties:
              path:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/folderPosition'
                description: "Localização na árvore"
              files:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/file'
                description: "Lista de arquivos e pastas"
              totalFolders:
                type: integer
                format: int64
                description: "Total de pastas encontradas"
              totalDocuments:
                type: integer
                format: int64
                description: "Total de documentos encontrados"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Lista os documentos e pastas de forma paginada"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: id
          description: "Id da pasta para listar (passar null se for a raiz)"
          in: query
          type: string
        - name: onlyFolders
          description: "Informar true para listar somente pastas"
          in: query
          type: boolean
        - name: page
          description: "Índice da página a ser retornada. Padrão 0."
          in: query
          required: true
          type: integer
          format: int64
        - name: size
          description: "Quantidade de itens que serão exibidos por página."
          in: query
          required: true
          type: integer
          format: int64
        - name: orderByField
          description: "Indica por qual campo os dados serão ordenados"
          in: query
          type: string
          allOf:
          - $ref: '#/definitions/folderListPageableOrderByField'
        - name: order
          description: "Tipo da ordenação"
          in: query
          type: string
          allOf:
          - $ref: '#/definitions/orderType'
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - totalFolders
              - totalDocuments
            properties:
              path:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/folderPosition'
                description: "Localização na árvore"
              files:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/file'
                description: "Lista de arquivos e pastas"
              totalFolders:
                type: integer
                format: int64
                description: "Total de pastas encontradas"
              totalDocuments:
                type: integer
                format: int64
                description: "Total de documentos encontrados"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/listValidDocumentsToSign:
    post:
      description: "API DEPRECIADA: Usar listValidDocumentsToSign na versão 2 | DATA: 2024-01-12 | Lista os documentos aptos a serem enviados para assinatura eletrônica, sendo: somente arquivos PDF, publicados sem pendências ou revisão e que não estejam em outro processo de assinatura"
      tags:
        - Queries
      deprecated : true
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - page
              - size
            properties:
              id:
                type: string
                description: "Id da pasta para listar (passar null se for a raiz)"
              page:
                type: integer
                format: int64
                description: "Índice da página a ser retornada. Padrão 0."
              size:
                type: integer
                format: int64
                description: "Quantidade de itens que serão exibidos por página."
              orderby:
                type: string
                description: "Campo para ordenação"
              sort:
                type: integer
                format: int64
                description: "Sentido da ordenação"
                default: 1
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - totalFolders
              - totalDocuments
            properties:
              path:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/folderPosition'
                description: "Localização na árvore"
              files:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/file'
                description: "Lista de arquivos e pastas"
              totalFolders:
                type: integer
                format: int64
                description: "Total de pastas encontradas"
              totalDocuments:
                type: integer
                format: int64
                description: "Total de documentos encontrados"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "API DEPRECIADA: Usar listValidDocumentsToSign na versão 2 | DATA: 2024-01-12 | Lista os documentos aptos a serem enviados para assinatura eletrônica, sendo: somente arquivos PDF, publicados sem pendências ou revisão e que não estejam em outro processo de assinatura"
      tags:
        - Queries
      deprecated : true
      x-senior-visibility: PRIVATE
      parameters:
        - name: id
          description: "Id da pasta para listar (passar null se for a raiz)"
          in: query
          type: string
        - name: page
          description: "Índice da página a ser retornada. Padrão 0."
          in: query
          required: true
          type: integer
          format: int64
        - name: size
          description: "Quantidade de itens que serão exibidos por página."
          in: query
          required: true
          type: integer
          format: int64
        - name: orderby
          description: "Campo para ordenação"
          in: query
          type: string
        - name: sort
          description: "Sentido da ordenação"
          in: query
          type: integer
          format: int64
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - totalFolders
              - totalDocuments
            properties:
              path:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/folderPosition'
                description: "Localização na árvore"
              files:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/file'
                description: "Lista de arquivos e pastas"
              totalFolders:
                type: integer
                format: int64
                description: "Total de pastas encontradas"
              totalDocuments:
                type: integer
                format: int64
                description: "Total de documentos encontrados"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/listValidDocumentsToSign__2:
    post:
      description: "Lista os documentos aptos a serem enviados para assinatura eletrônica, sendo: somente arquivos PDF, publicados sem pendências ou revisão e que não estejam em outro processo de assinatura"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            properties:
              id:
                type: string
                description: "Id da pasta para listar (passar null se for a raiz)"
              showSubfolderFiles:
                type: boolean
                description: "Mostrar todos documentos das subpastas"
              page:
                type: integer
                format: int64
                description: "Index de início da busca"
                default: 0
              size:
                type: integer
                format: int64
                description: "Tamanho da busca"
                minimum: 1
                maximum: 50
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - files
              - totalDocuments
            properties:
              files:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/validDocumentToSign'
                  minimum: 1
                description: "Lista de arquivos e pastas"
              totalDocuments:
                type: integer
                format: int64
                description: "Total de documentos encontrados"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Lista os documentos aptos a serem enviados para assinatura eletrônica, sendo: somente arquivos PDF, publicados sem pendências ou revisão e que não estejam em outro processo de assinatura"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: id
          description: "Id da pasta para listar (passar null se for a raiz)"
          in: query
          type: string
        - name: showSubfolderFiles
          description: "Mostrar todos documentos das subpastas"
          in: query
          type: boolean
        - name: page
          description: "Index de início da busca"
          in: query
          type: integer
          format: int64
        - name: size
          description: "Tamanho da busca"
          in: query
          type: integer
          format: int64
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - files
              - totalDocuments
            properties:
              files:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/validDocumentToSign'
                  minimum: 1
                description: "Lista de arquivos e pastas"
              totalDocuments:
                type: integer
                format: int64
                description: "Total de documentos encontrados"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/requestDocumentVersionDownload:
    post:
      description: "Solicita uma url para download do arquivo de uma determinada versão de documento"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - documentVersionId
            properties:
              documentVersionId:
                type: string
                description: "Identificador da versão do documento"
              preview:
                type: boolean
                description: "Indica se deve busca a versão de pré visualização"
                default: false
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - downloadUrl
            properties:
              downloadUrl:
                type: string
                description: "Url disponível para download"
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        403:
          description: "Permissão negada, verifique as permissões do documento"
        404:
          description: "Documento não encontrado"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Solicita uma url para download do arquivo de uma determinada versão de documento"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: documentVersionId
          description: "Identificador da versão do documento"
          in: query
          required: true
          type: string
        - name: preview
          description: "Indica se deve busca a versão de pré visualização"
          in: query
          type: boolean
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - downloadUrl
            properties:
              downloadUrl:
                type: string
                description: "Url disponível para download"
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        403:
          description: "Permissão negada, verifique as permissões do documento"
        404:
          description: "Documento não encontrado"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/requestDocumentDownload:
    post:
      description: "Solicita uma url para download do arquivo do documento versão publicada"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - documentId
            properties:
              documentId:
                type: string
                description: "Identificador do documento"
              preview:
                type: boolean
                description: "Indica se deve busca a versão de pré visualização"
                default: false
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - downloadUrl
            properties:
              downloadUrl:
                type: string
                description: "Url disponível para download"
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        403:
          description: "Permissão negada, verifique as permissões do documento"
        404:
          description: "Documento não encontrado"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Solicita uma url para download do arquivo do documento versão publicada"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: documentId
          description: "Identificador do documento"
          in: query
          required: true
          type: string
        - name: preview
          description: "Indica se deve busca a versão de pré visualização"
          in: query
          type: boolean
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - downloadUrl
            properties:
              downloadUrl:
                type: string
                description: "Url disponível para download"
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        403:
          description: "Permissão negada, verifique as permissões do documento"
        404:
          description: "Documento não encontrado"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/searchDocument:
    post:
      description: "Pesquisa documentos e pastas com base em uma string"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - searchTerm
            properties:
              searchTerm:
                type: string
                description: "O valor a ser pesquisado"
              offset:
                type: integer
                format: int64
                description: "Index de início da busca"
                default: 0
              size:
                type: integer
                format: int64
                description: "Tamanho da busca"
                default: 10
              filterType:
                type: string
                allOf:
                - $ref: '#/definitions/filterType'
                description: "Filtro por tipo"
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - totalElements
              - totalPages
            properties:
              totalElements:
                type: integer
                format: int64
                description: "Total de elementos encontrados"
              totalPages:
                type: integer
                format: int64
                description: "Total de paginas disponiveis"
              searchResult:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/searchResult'
                description: "Documentos/pastas encontradas na busca"
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Pesquisa documentos e pastas com base em uma string"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: searchTerm
          description: "O valor a ser pesquisado"
          in: query
          required: true
          type: string
        - name: offset
          description: "Index de início da busca"
          in: query
          type: integer
          format: int64
        - name: size
          description: "Tamanho da busca"
          in: query
          type: integer
          format: int64
        - name: filterType
          description: "Filtro por tipo"
          in: query
          type: string
          allOf:
          - $ref: '#/definitions/filterType'
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - totalElements
              - totalPages
            properties:
              totalElements:
                type: integer
                format: int64
                description: "Total de elementos encontrados"
              totalPages:
                type: integer
                format: int64
                description: "Total de paginas disponiveis"
              searchResult:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/searchResult'
                description: "Documentos/pastas encontradas na busca"
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/searchDocumentByProperties:
    post:
      description: "Pesquisa documentos e pastas com base nas propriedades"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            properties:
              offset:
                type: integer
                format: int64
                description: "Index de início da busca"
                default: 0
              size:
                type: integer
                format: int64
                description: "Tamanho da busca"
                minimum: 1
                default: 100
              filterType:
                type: string
                allOf:
                - $ref: '#/definitions/filterType'
                description: "Filtro por tipo"
              documentName:
                type: string
                description: "Nome do documento"
              authorName:
                type: string
                description: "Nome do autor"
              signatureStatus:
                type: string
                allOf:
                - $ref: '#/definitions/signatureStatus'
                description: "Status da assinatura"
              initialDate:
                type: string
                format: date
                description: "Data inicial"
              finalDate:
                type: string
                format: date
                description: "Data final"
              expInitialDate:
                type: string
                format: date
                description: "Data inicial expedição"
              expFinalDate:
                type: string
                format: date
                description: "Data final expedição"
              obsInitialDate:
                type: string
                format: date
                description: "Data inicial obsolescência"
              obsFinalDate:
                type: string
                format: date
                description: "Data final obsolescência"
              fileType:
                type: string
                allOf:
                - $ref: '#/definitions/mimetypeFilter'
                description: "Tipo de documento"
              folderId:
                type: string
                description: "Id da pasta"
              includeSubfolders:
                type: boolean
                description: "Incluir subPasta"
                default: false
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - totalElements
              - totalPages
            properties:
              totalElements:
                type: integer
                format: int64
                description: "Total de elementos"
              totalPages:
                type: integer
                format: int64
                description: "Total de páginas disponíveis"
              searchResult:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/searchResult'
                description: "Documentos/pastas encontradas na busca"
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Pesquisa documentos e pastas com base nas propriedades"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: offset
          description: "Index de início da busca"
          in: query
          type: integer
          format: int64
        - name: size
          description: "Tamanho da busca"
          in: query
          type: integer
          format: int64
        - name: filterType
          description: "Filtro por tipo"
          in: query
          type: string
          allOf:
          - $ref: '#/definitions/filterType'
        - name: documentName
          description: "Nome do documento"
          in: query
          type: string
        - name: authorName
          description: "Nome do autor"
          in: query
          type: string
        - name: signatureStatus
          description: "Status da assinatura"
          in: query
          type: string
          allOf:
          - $ref: '#/definitions/signatureStatus'
        - name: initialDate
          description: "Data inicial"
          in: query
          type: string
          format: date
        - name: finalDate
          description: "Data final"
          in: query
          type: string
          format: date
        - name: expInitialDate
          description: "Data inicial expedição"
          in: query
          type: string
          format: date
        - name: expFinalDate
          description: "Data final expedição"
          in: query
          type: string
          format: date
        - name: obsInitialDate
          description: "Data inicial obsolescência"
          in: query
          type: string
          format: date
        - name: obsFinalDate
          description: "Data final obsolescência"
          in: query
          type: string
          format: date
        - name: fileType
          description: "Tipo de documento"
          in: query
          type: string
          allOf:
          - $ref: '#/definitions/mimetypeFilter'
        - name: folderId
          description: "Id da pasta"
          in: query
          type: string
        - name: includeSubfolders
          description: "Incluir subPasta"
          in: query
          type: boolean
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - totalElements
              - totalPages
            properties:
              totalElements:
                type: integer
                format: int64
                description: "Total de elementos"
              totalPages:
                type: integer
                format: int64
                description: "Total de páginas disponíveis"
              searchResult:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/searchResult'
                description: "Documentos/pastas encontradas na busca"
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/validateDocumentVersionName:
    post:
      description: "Valida se existe versao de documento com o nome pesquisado"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - versionName
              - documentId
            properties:
              versionName:
                type: string
                description: "Nome da versao do document"
              documentId:
                type: string
                description: "Identificador do documento"
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - valid
            properties:
              valid:
                type: boolean
                description: "Boolean que indica se o nome é valido"
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Valida se existe versao de documento com o nome pesquisado"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: versionName
          description: "Nome da versao do document"
          in: query
          required: true
          type: string
        - name: documentId
          description: "Identificador do documento"
          in: query
          required: true
          type: string
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - valid
            properties:
              valid:
                type: boolean
                description: "Boolean que indica se o nome é valido"
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/getDocumentViewUrl:
    post:
      description: "Retorna o link de visualização de um documento"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - documentId
            properties:
              documentId:
                type: string
                description: "Identificador do documento"
              embedded:
                type: boolean
                description: "Se o link deve ser montado considerando a view da plataforma"
                default: true
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - url
            properties:
              url:
                type: string
                description: "Url para visualização do documento"
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        404:
          description: "Documento não encontrado"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Retorna o link de visualização de um documento"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: documentId
          description: "Identificador do documento"
          in: query
          required: true
          type: string
        - name: embedded
          description: "Se o link deve ser montado considerando a view da plataforma"
          in: query
          type: boolean
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - url
            properties:
              url:
                type: string
                description: "Url para visualização do documento"
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        404:
          description: "Documento não encontrado"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/getDocumentUrlByVersion:
    post:
      description: "Retorna o link de visualização de um documento através do documentVersionId"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - documentVersionId
            properties:
              documentVersionId:
                type: string
                description: "Identificador da versão do documento"
              embedded:
                type: boolean
                description: "Se o link deve ser montado considerando a view da plataforma"
                default: true
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - url
            properties:
              url:
                type: string
                description: "Url para visualização do documento"
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        404:
          description: "Documento não encontrado"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Retorna o link de visualização de um documento através do documentVersionId"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: documentVersionId
          description: "Identificador da versão do documento"
          in: query
          required: true
          type: string
        - name: embedded
          description: "Se o link deve ser montado considerando a view da plataforma"
          in: query
          type: boolean
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - url
            properties:
              url:
                type: string
                description: "Url para visualização do documento"
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        404:
          description: "Documento não encontrado"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/getFolderUrl:
    post:
      description: "Retorna o link de visualização de uma pasta"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - folderId
            properties:
              folderId:
                type: string
                description: "Identificador da pasta"
              embedded:
                type: boolean
                description: "Se o link deve ser montado considerando a view da plataforma"
                default: true
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - url
            properties:
              url:
                type: string
                description: "Url para visualização da pasta"
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        404:
          description: "Pasta não encontrado"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Retorna o link de visualização de uma pasta"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: folderId
          description: "Identificador da pasta"
          in: query
          required: true
          type: string
        - name: embedded
          description: "Se o link deve ser montado considerando a view da plataforma"
          in: query
          type: boolean
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - url
            properties:
              url:
                type: string
                description: "Url para visualização da pasta"
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        404:
          description: "Pasta não encontrado"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/getDocumentVersions:
    post:
      description: "Retorna todas as versões de um documento"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - documentId
            properties:
              documentId:
                type: string
                description: "Id do documento a ser verificado"
              auditing:
                type: boolean
                description: "Se deve considerar versões minor e patch do documento para auditoria"
                default: false
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - documentVersions
            properties:
              documentVersions:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/documentVersionInfo'
                  minimum: 1
                description: "Versões do documento"
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        403:
          description: "Permissão negada, verifique as permissões do documento"
        404:
          description: "Documento não encontrado"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Retorna todas as versões de um documento"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: documentId
          description: "Id do documento a ser verificado"
          in: query
          required: true
          type: string
        - name: auditing
          description: "Se deve considerar versões minor e patch do documento para auditoria"
          in: query
          type: boolean
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - documentVersions
            properties:
              documentVersions:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/documentVersionInfo'
                  minimum: 1
                description: "Versões do documento"
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        403:
          description: "Permissão negada, verifique as permissões do documento"
        404:
          description: "Documento não encontrado"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/getUser:
    post:
      description: "Obtém informações a respeito de um determinado usuário"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            properties:
              username:
                type: string
                description: "Nome do usuário no formato nome@dominio_tenant"
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - user
            properties:
              user:
                type: object
                allOf:
                 - $ref: '#/definitions/user'
                description: "Usuário"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Obtém informações a respeito de um determinado usuário"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: username
          description: "Nome do usuário no formato nome@dominio_tenant"
          in: query
          type: string
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - user
            properties:
              user:
                type: object
                allOf:
                 - $ref: '#/definitions/user'
                description: "Usuário"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/listUsers:
    post:
      description: "Lista os usuários da plataforma"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            properties:
              searchValue:
                type: string
                description: "Termo para buscar nos campos nome, nome completo e e-mail"
              pageNumber:
                type: integer
                format: int64
                description: "O número da página retornado. A primeira página corresponde ao índice 0"
                default: 0
              pageSize:
                type: integer
                format: int64
                description: "Quantidade de registros por página"
                default: 10
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - users
              - total
            properties:
              users:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/user'
                  minimum: 1
                description: "Usuários encontrados"
              total:
                type: integer
                format: int64
                description: "Quantidade total de usuários"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Lista os usuários da plataforma"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: searchValue
          description: "Termo para buscar nos campos nome, nome completo e e-mail"
          in: query
          type: string
        - name: pageNumber
          description: "O número da página retornado. A primeira página corresponde ao índice 0"
          in: query
          type: integer
          format: int64
        - name: pageSize
          description: "Quantidade de registros por página"
          in: query
          type: integer
          format: int64
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - users
              - total
            properties:
              users:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/user'
                  minimum: 1
                description: "Usuários encontrados"
              total:
                type: integer
                format: int64
                description: "Quantidade total de usuários"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/listUsersFilteringByNames:
    post:
      description: "Lista os usuários da plataforma filtrando através do nome"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            properties:
              userNames:
                type: array
                items:
                  type: string
                description: "lista de nomes dos usuários no formato nome@dominio_tenant"
              pageNumber:
                type: integer
                format: int64
                description: "O número da página retornado. A primeira página corresponde ao índice 0"
                default: 0
              pageSize:
                type: integer
                format: int64
                description: "Quantidade de registros por página"
                default: 10
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - users
            properties:
              users:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/user'
                  minimum: 1
                description: "Lista de usuários encontrados"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/listGroups:
    post:
      description: "Lista os grupos da plataforma"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            properties:
              searchValue:
                type: string
                description: "O valor a ser pesquisado no nome do grupo"
              pageNumber:
                type: integer
                format: int64
                description: "O número da página retornado. A primeira página corresponde ao índice 0"
                default: 0
              pageSize:
                type: integer
                format: int64
                description: "Quantidade de registros por página"
                default: 10
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - groups
              - total
            properties:
              groups:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/group'
                  minimum: 1
                description: "Grupos encontrados"
              total:
                type: integer
                format: int64
                description: "Quantidade total de grupos"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Lista os grupos da plataforma"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: searchValue
          description: "O valor a ser pesquisado no nome do grupo"
          in: query
          type: string
        - name: pageNumber
          description: "O número da página retornado. A primeira página corresponde ao índice 0"
          in: query
          type: integer
          format: int64
        - name: pageSize
          description: "Quantidade de registros por página"
          in: query
          type: integer
          format: int64
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - groups
              - total
            properties:
              groups:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/group'
                  minimum: 1
                description: "Grupos encontrados"
              total:
                type: integer
                format: int64
                description: "Quantidade total de grupos"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/listRoles:
    post:
      description: "Lista os papéis da plataforma"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            properties:
              searchValue:
                type: string
                description: "O valor a ser pesquisado no nome dos papéis"
              pageNumber:
                type: integer
                format: int64
                description: "O número da página retornado. A primeira página corresponde ao índice 0"
                default: 0
              pageSize:
                type: integer
                format: int64
                description: "Quantidade de registros por página"
                default: 10
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - roles
              - total
            properties:
              roles:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/role'
                  minimum: 1
                description: "Papéis encontrados"
              total:
                type: integer
                format: int64
                description: "Quantidade total de papéis"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Lista os papéis da plataforma"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: searchValue
          description: "O valor a ser pesquisado no nome dos papéis"
          in: query
          type: string
        - name: pageNumber
          description: "O número da página retornado. A primeira página corresponde ao índice 0"
          in: query
          type: integer
          format: int64
        - name: pageSize
          description: "Quantidade de registros por página"
          in: query
          type: integer
          format: int64
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - roles
              - total
            properties:
              roles:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/role'
                  minimum: 1
                description: "Papéis encontrados"
              total:
                type: integer
                format: int64
                description: "Quantidade total de papéis"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/getDocumentVersionSubjects:
    post:
      description: "Obtém os assuntos de uma versão de um document"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - documentVersionId
            properties:
              documentVersionId:
                type: string
                description: "Identificador da versão do documento"
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - subjects
            properties:
              subjects:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/subject'
                  minimum: 1
                description: "Assuntos da versão do documento"
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        404:
          description: "Documento não encontrado"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Obtém os assuntos de uma versão de um document"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: documentVersionId
          description: "Identificador da versão do documento"
          in: query
          required: true
          type: string
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - subjects
            properties:
              subjects:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/subject'
                  minimum: 1
                description: "Assuntos da versão do documento"
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        404:
          description: "Documento não encontrado"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/verifyDocumentPermissions:
    post:
      description: "Permite verificar se o usuário corrente possui determinadas permissões no documento"
      tags:
        - Queries
      x-senior-visibility: PUBLIC
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - documentId
              - permissionsType
            properties:
              documentId:
                type: string
                description: "Id do documento"
              permissionsType:
                type: array
                items:
                  type: string
                  allOf:
                  - $ref: '#/definitions/permissionType'
                  minimum: 1
                description: "Tipo da permissão"
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - permissions
            properties:
              permissions:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/verifiedPermission'
                  minimum: 1
                description: "Permissões verificadas"
        401:
          description: "Invalid Credentials"
        400:
          description: "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
        404:
          description: "Documento não encontrado"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /ecm_ged/queries/healthcheck:
    post:
      description: "Query para o SRE verificar a disponibilidade do serviço"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - status
              - checks
            properties:
              status:
                type: string
                allOf:
                - $ref: '#/definitions/upDown'
                description: "Status geral do serviço"
              checks:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/checkData'
                  minimum: 1
                description: "Verificações para assegurar o status"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Query para o SRE verificar a disponibilidade do serviço"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - status
              - checks
            properties:
              status:
                type: string
                allOf:
                - $ref: '#/definitions/upDown'
[...]
